.car-selector-form
{   
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    border-style: solid;
    flex: 1;
    flex-basis: 100px;
    width: 300px;
    align-items: center;
    border-radius: 12px;
    border-width: 0.9px;
    padding: 16px;
}

.car-selector-form select
{
    width: 200px;
    padding: 6px 10px;
    margin: 10px 0;
    border-top: none;
    border-right: none;
    border-left: none;
    display: block;
    border-bottom-color: #11365F;
    border-bottom-width: 4px;
    font-family: inherit;
    text-align: center;
    background-color: white;

}