.car-selector-form
{   
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

.car-selector-form select
{
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    display: block;
}