#root {
  flex: 1;
}

.car-comparison-h3
{
  text-align: center;
}

.compare-button
{
  font-family: "Overpass", sans-serif;
	color: white;
  border: none;
  width: 120px;
	border-radius: 8px;
	padding: 10px;
  background-color: #11365F;
  font-weight: bold;
	cursor: pointer;
	outline: inherit;
}

.compare-button-container
{
  margin: 30px;
  display: flex;
  justify-content: center;
}