/* FILEPATH: /Users/pech/Documents/GitHub/GM-Automotive-Car-Comparison-App/car-comparison-vitejs/src/Nav/navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #11365F;
  /* overpass not working */
  font-family: "Overpass", sans-serif;
  color: white;
}

.navbar-nav {
  list-style: none;
  display: flex;
}

.navbar-nav li {
  margin-right: 1rem;
}

.navbar-nav li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navbar-nav li a:hover {
  color: #555;
}
