.car-box-container
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.car-box
{
    display: flex;
    margin-top: 20px;
    display: flex;
    min-height: 400px;
    flex-direction: column;
    align-items: center;
}

.car-box > img
{
    margin-top: 0;
}

