/* Main container with button and forms */
.car-comparison-container
{
    display: flex;
    flex-direction: column;
}

.car-box-container
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.car-box
{
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    margin-top: 20px;
}

.car-box > img
{
    margin-top: 0;
    align-self: center;
    width: 180px;
    height: 126px;
}

/* CSS for form */
.car-selector-form
{   
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;

    border-style: solid;
    align-items: center;
    border-radius: 12px;
    border-width: 0.9px;
    padding: 16px;
}

.car-selector-form label
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.car-selector-form select
{   flex: 1;
    padding: 6px 10px;
    margin: 10px 0;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-color: #11365F;
    border-bottom-width: 4px;
    font-family: inherit;
    text-align: center;
    background-color: white;

}

/* CSS for button */
.compare-button
{
    font-family: inherit;
    color: white;
    border: none;
    width: 120px;
	border-radius: 8px;
	padding: 10px;
    background-color: #11365F;
	cursor: pointer;
	outline: inherit;
}

.compare-button-container
{
    margin: 30px;
    display: flex;
  justify-content: center;
}